[submodule "examples/libmodbus_tests/-f"]
	path = examples/libmodbus_tests/-f
	url = git@github.com:stephane/libmodbus.git
[submodule "examples/libmodbus_tests/libmodbus"]
	path = examples/libmodbus_tests/libmodbus
	url = git@github.com:stephane/libmodbus.git
[submodule "examples/pymodbus_tests/pymodbus"]
	path = examples/pymodbus_tests/pymodbus
	url = git@github.com:riptideio/pymodbus.git
[submodule "libs/DataStores"]
	path = include/DataStores
	url = git@github.com:snhobbs/DataStores.git
[submodule "include/CppUtilities"]
	path = include/CppUtilities
	url = git@github.com:snhobbs/CppUtilities.git
